@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .homesection {
    margin-left: 5vw;
  }
}

@layer base {
  h1 {
    @apply font-arsonist text-9xl text-center;
  }

  .content h1 {
    @apply mt-12 mb-5;
  }

  .content p,
  .content li,
  .content td {
    @apply mb-4 font-serif text-2xl;
  }

  content ul {
    @apply list-disc;
  }

  content ol {
    @apply list-decimal;
  }

  .content h2 {
    @apply font-arsonist text-2xl text-left uppercase;
  }
}

@font-face {
  font-family: Arsonist-Black;
  font-weight: 800;
  src: url(/fonts/Arsonist-Black.woff2) format("woff2"), url(/fonts/Arsonist-Black.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Signifier;
  font-weight: 400;
  src: url(/fonts/signifier-regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Signifier;
  font-weight: 400;
  src: url(/fonts/signifier-regular-italic.woff2) format("woff2");
  font-display: swap;
  font-style: italic;
}
