@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .homesection {
    margin-left: 5vw;
  }
}

@layer base {
  h1 {
    @apply font-arsonist text-9xl text-center;
  }

  .content h1 {
    @apply mt-12 mb-5;
  }

  .content p {
    @apply mb-4
  }

  .content h2 {
    @apply font-arsonist text-2xl text-left uppercase;
  }
}

@font-face {
  font-family: Arsonist-Black;
  font-weight: 800;
  src: url(/fonts/Arsonist-Black.woff2) format("woff2"), url(/fonts/Arsonist-Black.woff) format("woff");
  font-display: swap;
}